/*=== FONTS ===*/

@import url(https://fonts.googleapis.com/css?family=Economica:400,700);
/* font-family: 'Economica' */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* font-family: 'Open Sans'; */

@import url(https://fonts.googleapis.com/css?family=Dosis:500);
/* font-family: 'Dosis', sans-serif; */

@font-face {
font-family: 'Bebas Neue Bold';
font-style: normal;
font-weight: normal;
src: local('Bebas Neue Bold'), url('../fonts/BEBASNEUE BOLD.woff') format('woff');
}

/*=== END FONTS ===*/

/* Задачи:

1) Сделать типографию + ссылке в топовых постах +
2) Оптимизировать код: прописать префиксы, поудалять ненужные параметры
3) Пофиксить нижний блок после картинок: добавить иконку к ссылке "more testimonials" +
4) Решить что-то со шрифтами +
5) Подобавлять ко всем путям изображений в HTML './' - не нужно
6) Сделать нормально иконку-ссылку в нижем меню (стрелочка) +
7) Сделать перенос строки для цифр в нижнем центральном меню (black box) - padding +
8) Пересохранить все изображения в PNG в черезстрочном формате
9) Сделать нормальный скелет header, section, footer - пока не нужно
10) Убрать высоту у страниц +
11) Изменить описание плиток в разделе menu !important
12) Сделать якорь (arrow) адаптивным
13) Почти полностью переверстать первую страницу +
14) Сделать сетку +-
15) Исправить transition во всех hover +
16) Сделать названия под сетку - не нужно
17) Geolocation iframe code +
18) Добавить иконку таким типом, где это нужно:
a:before {
	content:'<i class="fa fa-twitter">';
} +
19) Добавить шрифты +
20) Сделать иконки футера :after {
	content: 'unicode';
} +


*/

/*=== TYPOGRAPHY GRID ===*/

body {
	background: #fff;
}

h1 {
	font: 36px/48px 'Economica', sans-serif;
	color: #fff;
}

h2 {
	font: bold 36px/48px 'Economica', sans-serif;
	color: #535151;
}

h3 {
	font: 24px/20px 'Open Sans', sans-serif;
	color: #636262;
}

h4 {
	font: bold 16px/20px 'Open Sans', sans-serif;
	color: #636262;
}

h5 {
	font: lighter 18px/20px 'Open Sans', sans-serif;
	color: #a6a6a6;
}

h6 {
	font: 18px/24px 'Open Sans', sans-serif; /* for special tasks */
}

p {
	font: lighter 14px/20px 'Open Sans', sans-serif;
	color: #969696;
}

a {
	outline: none;
	text-decoration: none;
}

::selection {
	background: #dedede;
}

/*=== END TYPOGRAPHY GRID ===*/

/*=== CUSTOM GRID ===*/

.clearfix {content: ''; display: block; clear: both;}

.container {width: 1170px; margin: 0 auto;}

.row {margin-top: 45px;}

.content {margin-left: -30px;} /* for blocks align */

.button {
	border: 1px solid #9b9b9b;
	font: bold 20px/48px 'Economica', sans-serif;
	margin-top: 30px;
	width: 97px;
	height: 36px;
	color: #969696;
	line-height: 32px;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	cursor: pointer;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.button:hover {
	color: #fff;
	background: #2e2d2d;
	border: 1px solid #2e2d2d;
}

/*=== END CUSTOM GRID ===*/

/*=== HEADER ===*/

.wrapper {
	height: 100%;
}

#header {
	background: #f1f0f1;
	height: 140px;
}

#logo {
	background: #2e2d2d;
	height: 112px;
	width: 270px;
	float: left;
	margin-top: 28px;
}

#logo a {
	color: #fff;
}

.l-side,
.r-side {
	width: 135px;
	height: 112px;
	color: #fff;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.l-side {
	float: left;
	text-transform: uppercase;
	font: 48px/53px 'Bebas Neue Bold', sans-serif;
	padding: 8px 25px;
	border-right: 1px solid #4c4b4b;
	height: 70px;
	margin: 20px 0;

	-webkit-text-shadow: 1px 1px 0 #a5a5a5;
	-moz-text-shadow: 1px 1px 0 #a5a5a5;
	-o-text-shadow: 1px 1px 0 #a5a5a5;
	text-shadow: 1px 1px 0 #a5a5a5;
}

.r-side {
	float: left;
	font: 18px/53px 'Economica', sans-serif;
	padding: 30px 18px;
}

#navigation {
	float: right;
	text-transform: lowercase;
}

#navigation {
	margin-top: 60px;
}

#navigation li {
	display: inline-block;
	margin-left: 40px;
	font: bold 20px/48px 'Economica', sans-serif;
}

#navigation a {
	color: #727171;
}

#navigation .active {
	color: #aeceae;
}

/*=== END HEADER ===*/

/*=== PAGE "HOME" ===*/

#sources {
	height: 610px;
}

.src-item {
	height: 305px;
	width: 370px;
	background: #f1f0f1;
	margin-left: 30px;
}

.src-item h1 {
	text-align: center;
	padding-top: 125px;
}

.src-item a {
	font: 20px/48px 'Economica', sans-serif;
	color: #fff;
	margin: 15px 170px;
	display: block;
	text-transform: lowercase;
}

#src-items .col {
	float: left;
}

/* BACKGROUND IMAGES FOR BLOCK "sources" */

#src-items .left .src-item:first-child {background: url(../img/top-imga1.jpg);}

#src-items .left .src-item:last-child {background: url(../img/top-imga2.jpg);}

#src-items .center .src-item:first-child {background: url(../img/top-imgb1.jpg);}

#src-items .center .src-item:last-child {background: url(../img/top-imgb2.jpg);}

#src-items .right .src-item:first-child {background: url(../img/top-imgc1.jpg);}

#src-items .right .src-item:last-child {background: url(../img/top-imgc2.jpg);}

/* END BACKGROUND IMAGES */

#steps {
	min-height: 315px;
}

.s-item {
	text-align: center;
	display: inline-block;
	float: left;
	height: 330px;
	width: 370px;
	margin-left: 30px;
}

.mm-img {
	height: 120px;
	width: 120px;
	border: 1px solid #9b9b9b;
	border-radius: 50%;
	text-align: center;
	line-height: 140px;
	margin: 0 auto;
	margin-bottom: 30px;
	font: 40px/48px 'Dosis', sans-serif;
	color: #969696;
	padding-top: 32px;
	padding-left: 4px;

	box-sizing: border-box;
}

#posts {
	min-height: 335px;
	background: #f1f0f1;
	overflow: auto;
	margin-top: 35px;
}

#posts p {
	margin-top: 20px;
}

#posts .col {
	float: left;
	padding: 50px 0;
}

#posts .col:nth-child(odd) { /* to copy blocks */
	padding-right: 20px;
	padding-left: 100px;
	width: 470px;
}

#posts .col:nth-child(even) { /* to copy blocks */
	padding-right: 135px;
	padding-left: 5px;
	width: 440px;
}

#catalog {
	min-height: 387px;
}

#catalog img {
	display: block;
}

.c-item {
	width: 370px;
	float: left;
	margin-left: 30px;
	margin-bottom: 45px;
}

.c-item a {
	display: block;
}

.add-button {
	width: 35px;
	height: 35px;
	background: url(../img/add-icon.png) no-repeat center, #2e2d2d;
	float: right;
	margin-top: 30px;
}

.add-button:active {
	box-shadow: inset 0 0 10px rgba(0,0,0,1);
}

#info {
	min-height: 276px;
}

.info-item {
	margin-top: 20px;
}

#info .c-item {
	margin-bottom: 45px;
	min-height: 276px;
}

.info-left-col img {
	float: left;
	margin-right: 20px;
}

.info-left-col a {
	color: #9b9b9b;
	text-transform: lowercase;
	font: bold 20px/48px 'Economica', sans-serif;
	float: right;

	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.info-left-col a:hover {
	color: #2e2d2d;
}

.info-left-col h4 {
	padding-bottom: 8px;
}

.info-left-col {
	background: url(../img/apostrophe-icon.png) no-repeat 325px 55px, #fff;
}

#more-info:before {
	font-family: FontAwesome;
	color: #a4a4a4;
	content: '\f054';
	margin-right: 5px;
	font-size: 18px;
}

.info-center-col .date-box {
	background: #000;
	color: #fff;
	font: bold 24px/30px 'Economica', sans-serif;
	width: 68px;
	text-align: center;
	padding: 15px;
	height: 90px;
	float: left;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.info-center-col .info-item:nth-child(odd) {
	margin-top: 36px;
}

.info-center-col p {
	width: 250px;
	padding-left: 100px;
}

.info-center-col span {
	font: lighter 18px/20px 'Open Sans', sans-serif;
	color: #a6a6a6;
}

.info-right-col .info-item {
	margin-top: 12px;
}

.info-right-col .time-box {
	height: 67px;
	width: 370px;
	background: #303030;
	margin-top: 5px;
	display: inline-block;
	text-align: center;
}

.info-right-col .time-box p {
	font: 24px/48px 'Economica', sans-serif;
	color: #fff;
	margin-top: 8px;
}

.info-right-col .time-box span {
	font: bold 30px/48px 'Economica', sans-serif;
}

/*=== END PAGE "HOME" ===*/


/*=== PAGE "MENU" ===*/

#menu h5 {
	margin-bottom: 20px;
}

.menu-item {
	height: 490px;
	width: 370px;
	background: #f1f0f1;
	float: left;
	margin: 0 0 30px 30px;
}

.menu-text {
	margin: 25px;
}

/*=== END PAGE "MENU" ===*/

/*=== PAGE "RESERVATION" ===*/

#left-column {
	position: relative;
	bottom: 45px;
}

#left-column img {
	float: left;
}

#reservation h2 {
	margin-top: 45px;
	margin-bottom: 20px;
}

#reservation h5 {
	margin-bottom: 20px;
}

.text-a {
	padding-left: 30px;
	width: 360px;
	float: left;
}

.text-b {
	width: 770px;
	float: left;
}

#right-column {
	width: 365px;
	float: right;
	margin-bottom: 45px;
}

#right-column select {
	float: right;
	margin-left: 20px;
	height: 30px;
	width: 95px;
	margin-top: 15px;
	border: 1px solid #f1f1f1;
	font: 14px/27px 'Open Sans', sans-serif;
	background: #fdfdfd;
	color: #737272;
	outline: none;
	display: inline-block;
}

#right-column option {
	width: 55px;
	text-align: center;
}

#right-column #left_selection {
	min-width: 150px;
	height: 30px;
	float: left;
}

#right-column #right_selection {
	min-width: 150px;
	height: 30px;
	float: right;
}

input {
	margin-top: 15px;
	height: 30px;
	width: 365px;
	padding-left: 10px;
	font: 14px/27px 'Open Sans', sans-serif;
	background: #fdfdfd;
	color: #737272;
	border: 1px solid #f1f1f1;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

.cal-input {
	background: url(../img/cal-icon-menu.png) no-repeat 240px 2px, #fdfdfd;
} 

.short-input {
	width: 280px;
	float: right;
}

#right-column .button {
	float: right;
	margin-left: 15px;
}

#right-column textarea {
	height: 140px;
	width: 365px;
	margin-top: 65px;
	padding-left: 10px;
	font: 14px/27px 'Open Sans', sans-serif;
	border: 1px solid #f1f1f1;
	outline: none;
	resize: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

#right-column span {
	float: left;
	margin-top: 17px;
	font: 14px/27px 'Open Sans', sans-serif;
	color: #535151;
}

.input-contacts {
	font: 16px/20px 'Open Sans', sans-serif;
	color: #727171;
	margin-bottom: 45px;
	width: 90%;
}

/*=== END "RESERVATION" ===*/

/*=== PAGE "BLOG" ===*/

#blog {
	margin-top: 50px;
}

#blog h3 {
	margin-bottom: 25px;
}

#blog_page {
	width: 800px;
	float: left;
}

.blog_box {
	min-height: 680px;
	width: 670px;
}

#blog_list {
	width: 365px;
	height: 305px;
	float: right;
}

#blog_list h2 {margin-bottom: 10px;}

#blog_list a {
	font: 16px/24px 'Open Sans', sans-serif;
	color: #636262;
}

#blog_list ul {
	margin-left: 20px;
	list-style-type: disc;
	color: #636262;
}

#blog_posts {
	float: right;
	margin-top: 20px;
}

#blog_posts img {
	margin-bottom: 45px;
}

#blog_posts h2 {
	margin-bottom: 20px;
}

.posts_box{
	min-height: 125px;
	width: 365px;
}

.posts_text {
	width: 210px;
	float: right;
}

/* table styles */

table {
	margin-top: 20px;
	width: 100%;
	font: 14px/20px 'Open Sans', sans-serif;
}

table a {
	color: #adacac;
}

table i {
	margin-right: 25px;
}

table span {
	margin-right: 23px;
}

tr {
	border-top: 1px solid #d9d9d9;
}

tr:last-child {
	border-bottom: 1px solid #d9d9d9;
}

td {
	padding: 10px;
	padding-left: 100px;
	color: #adacac;
}

td:first-child {
	padding: 0;
}

td:last-child {
	display: table;
	float: right;
	margin: -5px 0;
}

/* end table styles */


/*=== END PAGE "BLOG" ===*/

/*=== PAGE "CONTACTS" ===*/

#contacts {
	margin-top: 45px;
	min-height: 610px;
	margin-bottom: 45px;
}

#contacts h2 {
	margin-bottom: 10px;
}

#contacts iframe {
	float: left;
}
#contacts_page p {
	float: left;
	width: 850px;
}

.contacts_sidebar {
	float: right;
	width: 275px;
}

.contacts_sidebar h3 {
	font: bold 16px/30px 'Open Sans', sans-serif;
	margin-bottom: 5px;
	margin-top: 20px;
}

.contacts_sidebar span {
	font: 16px/30px 'Open Sans', sans-serif;
	color: #636262;
}

#contact_form {
	height: 600px;
	background: #f1f0f1;
}

#contact_form .input_text {
	padding-left: 30px;
	margin-top: 20px;
	margin-right: 30px;
	height: 45px;
	width: 260px;
	border: 1px solid #d3d0d1;
	background: #faf9fa;
}

#contact_form .button {
	float: right;
}

#contact_form .button:last-child {
	margin-right: 15px;
}

#contact_form form {
	width: 1070px;
}

#contact_form textarea {
	width: 1070px;
	height: 305px;
	margin-top: 20px;
	padding-left: 30px;
	padding-top: 15px;
	font: 14px/27px 'Open Sans', sans-serif;
	border: 1px solid #d3d0d1;
	outline: none;
	resize: none;
	background: #faf9fa;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

/*=== END PAGE "CONTACTS" ===*/

/*=== FOOTER ===*/

#footer {
	background: #adacac;
	height: 140px;
	position: relative;
	bottom: 0;
}

#copyright b {
	font: lighter 18px/18px 'Open Sans', sans-serif;
}

#copyright p {
	padding-top: 50px;
	color: #e2e2e2;
	position: relative;
}

#copyright a {
	font: 14px 'Open Sans', sans-serif;
	color: #e2e2e2;
}

#social a {
	height: 24px;
	width: 24px;
	background: #ddd;
	border-radius: 50%;
	padding: 13px;
	display: inline-block;
	float: left;
	text-align: center;
	margin-left: 16px;
	position: relative;
	top: -45px;
}

#social i {
	color: #fff;
	font-size: 24px;
}

#social {
	float: right;
}

#twitter:before {
	font-family: FontAwesome;
	content: '\f099';
	font-size: 24px;
	color: #fff;
}

#fb:before {
	font-family: FontAwesome;
	content: '\f09a';
	font-size: 24px;
	color: #fff;
}

#gp:before {
	font-family: FontAwesome;
	content: '\f0d5';
	font-size: 24px;
	color: #fff;
}

#pin:before {
	font-family: FontAwesome;
	content: '\f0d2';
	font-size: 24px;
	color: #fff;
}

#anchor { /******** NEED FIX (if we remove this item - we will be big padding. its need to fix )********/
	position: fixed;
	right: 200px;
	bottom: 120px;
}

/*=== END FOOTER ===*/